<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :private, 'Keep Profile Private?' %>
  <%= f.check_box :private %>
</div>
<div class="field">
  <%= f.label :gender %>
  <% genders_array = GENDERS.flatten.map { |gender| [gender['name'], gender['abbreviation']] if gender['name'] }.compact %>
  <%= f.select :gender, genders_array %>
</div>
<div class="field">
  <%= f.label :race %>
  <% races_array = RACES.flatten.map { |race| [race['name'], race['abbreviation']] if race['name'] }.compact %>
  <%= f.select :race, races_array %>
</div>
<div class="field">
  <%= f.label :lgbtqia_plus, 'Identify as LQBTQIA+?' %>
  <%= f.check_box :lgbtqia_plus %>
</div>
<div class="field">
  <%= f.label :immigrant %>
  <%= f.check_box :immigrant %>
</div>
<div class="field">
  <%= f.label :expat %>
  <%= f.check_box :expat %>
</div>
<div class="field">
  <%= f.label :has_disability %>
  <%= f.check_box :has_disability %>
</div>
<div class="field">
  <%= f.label :veteran %>
  <%= f.check_box :veteran %>
</div>
<div class="field">
  <%= f.label :year_of_birth %>
  <%= f.text_field :year_of_birth, size: 4, maxlength: 4 %>
</div>
<div class="field">
  <%= f.label :unsubscribe_all, 'Unsubscribe from all email from EmpEmp.org?' %>
  <%= f.check_box :unsubscribe_all %>
</div>
<div class="field">
  You have fully read and agree with the <a href='/about/tos' target='_blank'>Terms of Service</a>?
  <%= f.check_box :agreed_to_tos, required: true %>
</div>