<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :private, 'Keep Profile Private?' %><br>
    <%= f.check_box :private %>
  </div>
  
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, [['Prefer not to say','PN'], ['Female','F'], ['Male','M'], ['Genderqueer/Non-Binary/Third Gender','NB'], 
    ['Other','O']] %>
  </div>
  
  <div class="field">
    <%= f.label :race %><br>
    <%= f.select :race, [['Prefer not to say','PN'], ['Indigenous','IP'], ['Hispanic/Latinx','LX'], ['South Asian','SA'], 
    ['East Asian','EA'], ['Black','B'], ['Middle Eastern','ME'], ['Mixed','MX'], ['White','W']] %>
  </div>
  
  <div class="field">
    <%= f.label :lgbtqia_plus, 'Identify as LQBTQIA+?' %><br>
    <%= f.check_box :lgbtqia_plus %>
  </div>
  
  <div class="field">
    <%= f.label :immigrant %><br>
    <%= f.check_box :immigrant %>
  </div>
  
  <div class="field">
    <%= f.label :expat %><br>
    <%= f.check_box :expat %>
  </div>
  
  <div class="field">
    <%= f.label :has_disability %><br>
    <%= f.check_box :has_disability %>
  </div>
  
  <div class="field">
    <%= f.label :veteran %><br>
    <%= f.check_box :veteran %>
  </div>
  
  <div class="field">
    <%= f.label :year_of_birth %><br>
    <%= f.text_field :year_of_birth, size: 4, maxlength: 4 %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
