<%= form_with(model: job) do |form| %>
  <p>
    <%= form.label :company %>
    <%= form.collection_select(:company_id, Company.all, :id, :name) %>
  </p>
  
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :pay_period %> 
    <%= form.select :pay_period, [['Annual', 'A'], ['Hourly', 'H']] %>
  </p>
  
  <p>
    <%= form.label :pay_rate %>
    <%= form.number_field :pay_rate, value: number_to_currency(form.object.pay_rate.to_f, delimiter: '', unit: ''), step: :any %>
  </p>
  
  <p>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </p>

  <p>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>