<% if current_user.id == @user.id %>
  <center>
    <h1><%= @user.name %>'s Profile</h1>
    <%= @user.display.html_safe %><br>
    <%= link_to 'Edit profile', edit_user_registration_path %><br>
    <% if @jobs.any? %>
      <p>
      <table>
        <tr>
          <th>Company</th>
          <th>Title</th>
          <th>Pay Rate</th>
          <th>Start Date</th>
        </tr>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.company.name %></td>
            <td><%= job.pay_rate %></td>
            <td><%= job.title %></td>
            <td><%= job.start_date %></td>
            <td><%= link_to 'Edit', edit_user_job_path(current_user.id, job.id) %></td>
            <td><%= link_to 'Delete', user_job_path(current_user.id, job.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table><br>
      <% end %>
    
    <p><%= link_to 'New job', new_user_job_path %></p>
  </center>
  
  
<% else %>
  <center><H1>Sorry, nothing to see here.</h1></center>
<% end %>
