<% @user = current_user %>
<% content_for :title, "#{@user.name}'s Profile" %>
<%= @user.display.html_safe %><br>
<% unless @user.gender.nil? %>
  <p><b>Gender:</b> <%= GENDERS[@user.gender]['name'] %>,
<% end %>
<% unless @user.race.nil? %>
  <b>Race/Ethnicity:</b> <%= RACES[@user.race]['name'] %>,
<% end %>
<b>LGBTQIA+:</b> <%= @user.lgbtqia_plus ? 'Yes' : 'No' %>,
<b>Immigrant:</b> <%= @user.immigrant ? 'Yes' : 'No' %><br>
<b>Expat:</b> <%= @user.expat ? 'Yes' : 'No' %>,
<b>Have Disability:</b> <%= @user.has_disability ? 'Yes' : 'No' %>,
<b>Veteran:</b> <%= @user.veteran ? 'Yes' : 'No' %>,
<% unless @user.year_of_birth.nil? %>
  <b>Birth Year:</b> <%= @user.year_of_birth %><br>
<% end %>
<p><%= link_to 'Edit profile', edit_user_registration_path %><br>
<% if @user.jobs.any? %>
  <p>
  <table>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Pay Rate</th>
      <th>Start Date</th>
    </tr>
    <% @user.jobs.order(start_date: :desc).each do |job| %>
      <tr>
        <td><%= link_to job.company.name, company_path(job.company) %></td>
        <td align='right'><%= number_to_currency(job.pay_rate, precision: job.pay_period == 'H' ? 2 : 0) %></td>
        <td><%= job.title %></td>
        <td><%= job.start_date %></td>
        <td><%= link_to 'Edit', edit_job_path(job.id) %></td>
        <td><%= link_to 'Delete', job_path(job.id),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table><br>
  <% end %>

<p><%= link_to 'New job', new_job_path %></p>