<% if current_user.id == @user.id %>
  <center>
    <h1><%= @user.name %>'s Profile</h1>
    <%= @user.display.html_safe %><br>
    <%= link_to 'Edit profile', edit_user_registration_path %><br>
    <% if @jobs.count > 0 %>
      <table>
        <tr>
          <th>Company</th>
          <th>CEO</th>
          <th></th>
        </tr>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.company %></td>
            <td><%= job.title %></td>
            <td><%= job.startdate %></td>
            <td><%= link_to 'Edit', edit_user_jobs_path(job) %></td>
          </tr>
        <% end %>
      </table><br>
      <% end %>
    
  </center>
  
  
<% else %>
  <center><H1>Sorry, nothing to see here.</h1></center>
<% end %>
