<%= form_with(model: company) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </p>

  <p>
    <%= form.label :stock_isin, 'Stock ISIN' %><br>
    <%= form.text_field :stock_isin %>
  </p>
  
  <p>
    <%= form.label :ceo, 'CEO' %><br>
    <%= form.text_field :ceo, required: true %>
  </p>
  
  <p>
    <%= form.label :ceo_gender, "CEO's Gender" %><br>
    <% genders_array = GENDERS.flatten.map { |gender| [gender['name'], gender['abbreviation']] if gender['name'] }.compact %>
    <%= form.select :ceo_gender, genders_array %>
  </p>
  
  <p>
    <%= form.label :ceo_race, "CEO's Race" %><br>
    <% races_array = RACES.flatten.map { |race| [race['name'], race['abbreviation']] if race['name'] }.compact %>
    <%= form.select :ceo_race, races_array %>
  </p>

  <p>
    <%= form.label :ceo_annual_salary, "CEO's Annual Salary" %><br>
    <%= form.text_field :ceo_annual_salary, value: number_to_currency(form.object.ceo_annual_salary.to_f, precision: 0, delimiter: '', unit: ''), step: :any %>
  </p>

  <p>
    <%= form.label :ceo_annual_bonus, "CEO's Annual Bonus" %><br>
    <%= form.text_field :ceo_annual_bonus, value: number_to_currency(form.object.ceo_annual_bonus.to_f, precision: 0, delimiter: '', unit: ''), step: :any %>
  </p>

  <p>
    <%= form.label :ceo_annual_sold_shares, "CEO's Annual Sold Shares" %><br>
    <%= form.text_field :ceo_annual_sold_shares, value: number_to_currency(form.object.ceo_annual_sold_shares.to_f, precision: 0, delimiter: '', unit: ''), step: :any %>
  </p>

  <p>
    <%= form.label :ceo_annual_stock_award, "CEO's Annual Stock Award" %><br>
    <%= form.text_field :ceo_annual_stock_award, value: number_to_currency(form.object.ceo_annual_stock_award.to_f, precision: 0, delimiter: '', unit: ''), step: :any %>
  </p>

  <p>
    <%= form.label :ceo_shares, "CEO's Total Shares" %><br>
    <%= form.text_field :ceo_shares %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>

<p>
  <%= link_to 'Back', companies_path %>
</p>