<%= form_with(model: company) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :ceo, 'CEO' %><br>
    <%= form.text_field :ceo %>
  </p>
  
  <p>
    <%= form.label :ceo_gender, "CEO's Gender" %><br>
    <% genders_array = GENDERS.flatten.map { |gender| [gender['name'], gender['abbreviation']] if gender['name'] }.compact %>
    <%= form.select :ceo_gender, genders_array %>
  </p>
  
  <p>
    <%= form.label :ceo_race, "CEO's Race" %><br>
    <% races_array = RACES.flatten.map { |race| [race['name'], race['abbreviation']] if race['name'] }.compact %>
    <%= form.select :ceo_race, races_array %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>

<p>
  <%= link_to 'Back', companies_path %>
</p>