<%= form_with(model: company) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :ceo, 'CEO' %><br>
    <%= form.text_field :ceo %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>