<div class="vcard">
  <% content_for :title, @company.name + ' Ratings and Diversity Score'%>
  <% meta_tag :description, "Details about #{@company.name} including employee ratings, executive diversity, employee inclusion, pay, and demographics." %>
  <h1><div class="org"><%= yield(:title) %></div></h1>
  <% if @company.employee_ratings.any? %>
    <%= @company.rating_stats_html %><br>
  <% end %>
  <% if user_signed_in? %>
    <% if review = EmployeeRating.find_by_user_id_and_company_id(current_user.id, @company.id) %>
      <%= link_to '[Edit Your Review]', edit_company_employee_rating_path(@company.id, review.id) %>
      <%= link_to '[Delete Your Review]', [@company, review],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br>
    <% else %>
      <%= link_to '[Add A Review]', new_company_employee_rating_path(@company.id) %><br>
    <% end %>
  <% end %>

  <%= @company.exec_diverse_score_html %><br>
  <strong><span class="title">CEO</span>:</strong>
  <span class="fn"><%= @company.ceo %></span>
  (<%= GENDERS[@company.ceo_gender]['name'] %> - <%= RACES[@company.ceo_race]['name'] %>)
  <%= link_to 'Edit', edit_company_path(@company.id) %><br>

  <% @company.executives.each do |exec| %>
    <strong><%= exec.title %>:</strong>
    <%= exec.name %> (<%= GENDERS[exec.gender]['name'] %> - <%= RACES[exec.race]['name'] %>)
    <%= link_to 'Edit', edit_company_executive_path(@company.id, exec.id) %>
    <%= link_to 'Delete', [@company, exec],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>

  <%= link_to 'Add Executive', new_company_executive_path(@company.id) %>

  <% if @company.employee_ratings.any? %>
    <%= render "show_ratings" %>
  <% end %>

  <% if @company.jobs.any? %>
  <h2>Jobs</h2>
  <table border="1" cellpadding="8" cellspacing="2">
    <tr>
      <th>Title</th>
      <th>Pay</th>
      <th>Gender</th>
      <th>Race</th>
      <th>LGBTQIA+?</th>
      <th>Immigrant</th>
      <th>Expat</th>
      <th>Disability</th>
      <th>Veteran</th>
      <th>Year of Birth</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Last Update</th>
    </tr>

    <% @company.jobs.each do |job| %>
      <% unless job.user.private %>
        <tr>
          <td><%= job.title %></td>
          <td align='right'><%= number_to_currency(job.pay_rate, precision: job.pay_period == 'H' ? 2 : 0) %></td>
          <td><%= GENDERS[job.user.gender]['name'] %></td>
          <td><%= RACES[job.user.race]['name'] %></td>
          <td><%= job.user.lgbtqia_plus ? 'Yes' : 'No' %></td>
          <td><%= job.user.immigrant ? 'Yes' : 'No' %></td>
          <td><%= job.user.expat ? 'Yes' : 'No' %></td>
          <td><%= job.user.has_disability ? 'Yes' : 'No' %></td>
          <td><%= job.user.veteran ? 'Yes' : 'No' %></td>
          <td><%= job.user.year_of_birth %></td>
          <td><%= job.start_date %></td>
          <td><%= job.end_date %></td>
          <td><%= job.updated_at.to_date %></td>
        </tr>
      <% end %>
    <% end %>
  </table><br>
  <% end %>

  <p>
    <%= link_to 'Back', companies_path %>
  </p>
</div>