<%= form_with(model: [company, executive]) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </p>
  
  <p>
    <%= form.label :gender, "Gender" %>
    <% genders_array = GENDERS.flatten.map { |gender| [gender['name'], gender['abbreviation']] if gender['name'] }.compact %>
    <%= form.select :gender, genders_array %>
  </p>
  
  <p>
    <%= form.label :race, "Race" %>
    <% races_array = RACES.flatten.map { |race| [race['name'], race['abbreviation']] if race['name'] }.compact %>
    <%= form.select :race, races_array %>
  </p>
  
  <p>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </p>
    
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', company_path(@company.id) %></p>