<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="Author" content="The Employee Empowerment Team">
    <meta name="Classification" content="Pay Gap, Equity, Employee Empowerment">
    <meta name=Copyright content="&copy; 2020 The Employee Empowerment Team">
    <meta name="KeyWords" content="Pay Gap, Equity, Employee Empowerment">
    <title>EmpEmp</title>
    <%= csrf_meta_tags %>
    <script type="application/ld+json" src="/assets/search_micro_data.json"></script>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ed7e73c9d18cc0012dffec5&product=inline-share-buttons&cms=sop' async='async'></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#0033FF" vlink="#0033AA" alink="#0033FF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" bgcolor="#E0F8E0" id=header>
  <tr>
    <td>
      <center><a href="/"><img src="/LogoSmall.png" width="218" height="60" alt="Employee Empowerment - Rockclimber by Raftrek Adventure Travel"></a></center>
    </td>
 
    <td>
      <center>
        Follow us on<br>
	<a href="https://www.linkedin.com/company/empemp/"><img src="/li-logo.png" alt="LinkedIn"></a> <a href="https://www.facebook.com/EmployeeEmp/"><img src="/fb-logo.png" alt="Facebook"></a> <a href="https://twitter.com/EmpEmp8"><img src="/twitter-logo.png" alt="Twitter"></a>
      </center>
    </td>  
   <td align=center>
     <a href='https://github.com/EmployeeEmpowerment/EmpEmp/'>Help Code</a>
   </td>
   <td align=right> 
     <center>
       <% if user_signed_in? %>
         <table><tr>
           <td><%= current_user.display.html_safe %></td>
           <td>  
             <%= link_to 'View profile', jobs_path %><br>
             <%= link_to("Logout", destroy_user_session_path, :method => :delete) %><br>
           </td>
         </tr></table>
       <% else %>
         <%= link_to "Sign in with LinkedIn", user_linkedin_omniauth_authorize_path %><br>
         <%= link_to("Login", new_user_session_url) %>
       <% end %>
     </center>
   </td>
  </tr>
</table>

<table width="100%" border=0 cellspacing=0 class="main_body">
  <td width=5 border=0>
  </td>
  <td border=0>
    <% if flash[:notice] %>
      <a href="#" onclick="document.self.style.display = 'none'">
      <table align="center"><td style="background: pink;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;"><%= flash[:notice] %></td></table>
      </a>
    <% end %>

  <body>
    <center>
      <%= yield %>
    </center>
  </body>
<table align="center" cellpadding=5>
<tr>
<td bgcolor="#E6E6E6">
<p align="center"><font face="verdana">Copyright (C) 2020 The Employee Empowerment Team</font></p>
<center>
<div class="sharethis-inline-share-buttons"></div>
</center>
</td>
</tr>
</table>

</body>
</html>
